@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Gotu&display=swap");

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gotu", sans-serif;
}

:root {
  --primary-blue: #0283a0;
  --dark-blue: #034d5e;
  --light-blue: #39e8f5;
  --black: #000000;
  --white: #ffffff;

  /* Czcionki */
  --font-heading: "Hubballi", sans-serif;
  --font-body: "Gotu", sans-serif;

  --main-gradient: linear-gradient(
    135deg,
    #0283a0 0%,
    #39e8f5 50%,
    #034d5e 100%
  );
}

body {
  font-family: var(--font-body);
  background: linear-gradient(
    135deg,
    var(--primary-blue) 0%,
    var(--light-blue) 50%,
    var(--dark-blue) 100%
  );
  min-height: 100vh;
}

/*
Czcionki: Hubballi / Gotu
Kolory, wszystkie to HEX i barwy to: 0283A0 / 034D5E / 39E8F5 / 000000 / FFFFFF
*/
